<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vu.co.nadhir.hitung_luas" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Aplikasi Hitung Luas"
        android:theme="@style/Theme.Mytheme" >
        <activity
            android:name="vu.co.nadhir.hitung_luas.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
